// Header
.header {
  height: 100vh;
  background-image: url(/Images/header-img.jpg);
  background-size: cover;
  background-position: bottom;
  color: $color-white;

  &-top {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0;
    padding-left: $padding-left;
    padding-right: $padding-right;

    :last-child {
      text-transform: uppercase;
    }
    
    div {
      display: flex;
      gap: 2rem;
      font-size: 1rem;
      align-items: center;

    }
  }

  &-nav {
    width: 100%;
    padding: 1rem $padding-left 1rem $padding-right;
    background-color: $color-light-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: sticky;

    .nav-logo {
      img {
        height: 4rem;
      }
    }

    .nav-links {
      display: flex;
      gap: 2.3rem;
      list-style: none;
      justify-content: center;
      align-items: center;

      .home {
        padding: 2.2rem;
        margin: -2rem 0;
        background-color: $color-black;
        text-transform: uppercase;
      }

      
      .nav-link {
        align-items: center;
        text-align: center;
        a {
          align-items: center;
          text-align: center;
          text-decoration: none;
          color: $color-white;
          text-transform: uppercase;
          font-size: 1.15rem
        }
      }
    }
  };

  &-text {
    text-align: center;
    margin: 9.5rem 0 21.3rem 0;
    line-height: 1.4;
    // font-family: Poppins-light;

    &-sub1, &-sub2 {
      font-size: 2.2rem;
      font-weight: 500;
    }

    &-sub2 {
      @include addAnimation(moveInButtom)
    }

    &-sub1 {
      @include addAnimation(moveInTop)
    }

    .heading-text-main {
      font-family: Poppins-light;
      font-size: 6.7rem;
      font-weight: 300;
      // letter-spacing: 0.2rem;
      padding: 0;
      @include addAnimation(moveInLeft);
    }
  }

  &-bottom {
    background-color: $color-light-black;
    padding: 0.5rem $padding-left;
    display: flex;
    justify-content: space-between;

    &-btns {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .bottom-btn {
        background-color: rgba(0, 0, 0, 0.062);
        color: $color-white;
        display: flex;
        gap: 1rem;
        padding: 0.6rem;
        font-size: 1.1rem;
        border: solid $color-white 1px;
        align-items: center;
        
        .bottom-icon {
          font-size: 2rem;
        }
      }
      .first2 {
        width: 13rem;
        display: flex;
        justify-content: space-between;
        height: 3.6rem;
        font-size: 1.2rem;
      }
      .second2 {
        width: 8rem;
        height: 3.6rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
      }

      .best-rate {
        font-family: Poppins-medium;
        text-transform: uppercase;
        font-size: 1.2rem;
        height: 3.6rem;
        align-items: center;
        padding: 0 1.5rem;
        background-color: $color-btn;
        color: $color-white;
        border: none;
        cursor: pointer;
        border: 2px transparent solid;
        transition: all 0.3s;

        &:hover {
          background-color: $color-white;
          border: 2px $color-btn solid;
          color: $color-btn;
        }

      }
    }
    
  }
}